---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="about - milk roll"
  description="The beliefs and interests that drive milk roll"
  footer={false}
>
  <div class="text-center border-l-2 border-black text-4xl ml-1">
    <div class="rotate-90 h-8 w-10 font-extrabold tracking-wide">
      <h1 class="text-left p-2 text-xl font-mono">ABOUT</h1>
    </div>

    <div
      class="text-left p-8 pt-12 font-semibold space-y-8 sm:text-2xl text-lg"
    >
      <h1 class="font-bold text-4xl">welcome, i'm Cade ⛳</h1>
      <h2>
        I'm a computer science student with technical interests in <span
          class="text-blue-500">distributed systems</span
        >, <span class="text-blue-500">web development</span>, and <span
          class="text-blue-500">CLI tools</span
        >.
      </h2>

      <h2>
        I also harbor interests in
        <span class="text-cyan-600">writing</span>, <span class="text-cyan-600"
          >music</span
        >, <span class="text-cyan-600">long range shooting</span>, and <span
          class="text-cyan-600">science fiction</span
        >.
      </h2>

      <h2>
        milk roll is a repository of my creative writing, technical blog posts,
        and scattered thoughts.
      </h2>

      <h2 class="text-lg">
        <span class="text-neutral-500">"why's the blog called milk roll?"</span>
        - dunno, i guess we'll both find out soon enough
      </h2>

      <h2>
        <a
          href="https://cade.fyi"
          class="text-emerald-500 hover:underline text-3xl">main site</a
        >
      </h2>
    </div>
  </div>
</Layout>
