---
---

<hr
  class="border-t-2 border-t-neutral-[#474056] w-[355px] md:w-[600px] mx-auto mt-14"
/>

<div class="text-center p-4 text-neutral-500 text-sm">
  <div>
    © 2023 <a
      href="https://cadecuddy.com"
      target="_blank"
      class="hover:text-emerald-500">Cade Cuddy</a
    >
  </div>
</div>
