---
---

<hr
  class="border-t-2 border-t-black mt-14 md:mx-auto sm:max-w-3xl md:max-w-4xl lg:max-w-5xl xl:max-w-6xl"
/>

<div class="text-center p-4 text-neutral-500 text-sm">
  <div class="flex justify-center items-center gap-2 align-middle mb-2">
    <a href="https://blog.cadecuddy.com/rss.xml" target="_blank" title="RSS">
      <svg
        fill="orange"
        viewBox="-4 -4 24 24"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMinYMin"
        class="w-12 h-12 align-middle"
        stroke="#orange"
        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
          ><path
            fill-rule="evenodd"
            d="M2.002 2.725a.75.75 0 0 1 .797-.699C8.79 2.42 13.58 7.21 13.974 13.201a.75.75 0 1 1-1.497.098 10.502 10.502 0 0 0-9.776-9.776.75.75 0 0 1-.7-.798zM2 13a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm.84-5.95a.75.75 0 0 0-.179 1.489c2.509.3 4.5 2.291 4.8 4.8a.75.75 0 1 0 1.49-.178A7.003 7.003 0 0 0 2.838 7.05z"
          ></path></g
        ></svg
      >
    </a>
  </div>

  <div>
    © 2023 <a
      href="https://cadecuddy.com"
      target="_blank"
      class="hover:text-emerald-500 underline">Cade Cuddy</a
    >
  </div>
</div>
