---
import ThemeIcon from "./ThemeIcon";
---

<div
  class="pt-10 text-left font-sans mb-10 md:max-w-3xl antialiased md:mx-auto max-w-3xl lg:max-w-5xl xl:max-w-6xl"
>
  <div class="container mx-auto flex justify-between items-center">
    <button onclick="window.location.href = '/'">
      <div class="hover:underline">
        <h1 class="font-bold text-xl">MILK</h1>
        <h1 class="font-bold text-xl ml-1">ROLL</h1>
      </div>
    </button>
    <nav class="font-semibold text-lg">
      <ul class="flex">
        <li class="mr-4">
          <button
            onclick="window.location.href = '/about'"
            class="hover:cursor-pointer hover:underline"
          >
            ABOUT
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>
